<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallworldfs.transactiondataservice.transaction.db.mapper.TransactionMapper">

    <resultMap type="com.smallworldfs.transactiondataservice.transaction.db.entity.Transaction" id="transaction">
        <id column="id" property="transactionId"/>
        <result column="sending_principal" property="sendingPrincipal"/>
        <result column="payout_principal" property="payoutPrincipal"/>
        <result column="fees" property="fees"/>
        <result column="commission" property="commission"/>
        <result column="agent_commission" property="agentCommission"/>
        <result column="sender_id" property="senderId"/>
        <result column="beneficiary_id" property="beneficiaryId"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findById" resultMap="transaction">
        SELECT id,
               sending_principal,
               payout_principal,
               fees,
               commission,
               agent_commission,
               sender_id,
               beneficiary_id,
               status
        FROM transaction.transaction
        where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO transaction.transaction(sending_principal, payout_principal, fees,
                                commission, agent_commission, sender_id, beneficiary_id,
                                status)
        VALUES (#{sendingPrincipal}, #{payoutPrincipal},
                #{fees}, #{commission},
                #{agentCommission}, #{senderId},
                #{beneficiaryId}, #{status});
    </insert>
</mapper>